<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History of queries</title>
    <style>

        table {
            border: 1px solid grey;
            width: 100%;
        }

        th {
            border: 1px solid #808080;
        }

        td {
            border: 1px solid #808080;
        }
    </style>
</head>
<body>
<tr style="width: 100%">
    <table>
        <tr>
            <th>ID</th>
            <th>Animal type</th>
            <th>Processed image</th>
            <th>Created</th>
        </tr>
        {% for record in history %}
            <tr>
                <th>{{ record.ID }}</th>
                <th>{{ record.animal_type }}</th>
                <th>{{ record.processed_image }}</th>
                <th>{{ record.created }}</th>
            </tr>
        {% endfor %}

    </table>

    </div>
</body>
</html>